<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tutoring Session Tracker</title>
    </head>
    <body>
        <input type="button" value="Add Tutoring Session" onClick="window.location.href='/addSession'">
        <br><br>
        <input type="button" value="Add Student" onClick="window.location.href='/addStudent'" method="get">
        <br><br>
        <input type="button" value="View Statistics" onClick="window.location.href='/viewStats'" method="get">

        <!-- <form action="{{ url_for('addStudent') }}"><input type="submit" value="Add Student"></form> -->
    </body>
</html>